header {
}

.menu-container {
  display: flex;
  max-width: 220px;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(30, 17, 86, 0.9),
    rgba(14, 8, 55, 0.9)
  );
  border-radius: 8px;
  box-shadow: #0e0837 0px 12px 24px;
}

.menu-nav {
  /* height: 100%; */
}

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* height: 100%; */
}

.menu-links-a {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  /* margin-bottom: 300px; */
  margin-left: 60px;
}

.menu-links-a a {
  margin-bottom: 30px;
  color: #f2f2f2;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;
}

.menu-footer {
  display: flex;
  flex-direction: column;

  align-items: left;
  margin-left: 60px;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;
  color: #f2f2f2;
}
.menu-footer a {
  /* margin-top: 30px; */
}

.menu-search-container {
  display: flex;
  justify-content: left;
}

.menu-nav h1 {
  display: flex;
  justify-content: center;
  letter-spacing: 0.05em;
  text-shadow: 0px 5px 12px rgba(6, 5, 19, 0.25);
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 24px;
  font-weight: 800;
  background: -webkit-linear-gradient(#3887fe, #3ba0ff, #5fb2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}

.text-underline-div {
  display: flex;
  justify-content: center;
}

.text-underline {
  height: 2px;
  background-color: #1288e8;
  width: 100px;
  margin-top: 6px;
  margin-bottom: 60px;
}

.section-parent {
  display: flex;
  /* justify-content: space-between; */
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  margin-top: 32px;
  outline: 1px solid #161245;
  border-radius: 25px;
}

.search-bar input {
  background-color: #161245;
  border: none;
  height: 30px;
}

.search-icon {
  height: 24px;
  background-color: #161245;
}

.transactions-container {
  margin-top: 100px;

  flex-grow: 2;
}
