* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Open sans";
  background-image: linear-gradient(to right, #20135c, #140739);
}

.main-section {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #20135c, #140739);
  color: #949ec0;
  height: 100%;
  align-items: center;
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1366px;
}

.main-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
}

.main-inputs-2 {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
}

.main-inputs input {
  width: 380px;
  height: 58px;
  font-size: 16px;
  font-weight: 400;
  background-color: #2e3558;
  color: #ffffff;
  padding-left: 67px;
  border: none;
  margin-bottom: 26px;
  border-radius: 8px;
}

.main-inputs input::placeholder {
  color: #616a8b;
}

.main-inputs-2 input {
  width: 380px;
  height: 58px;
  font-size: 16px;
  font-weight: 400;
  background-color: #2e3558;
  color: #616a8b;
  padding-left: 67px;
  border: none;
  margin-bottom: 26px;
  border-radius: 8px;
}

.main-inputs input:focus {
  outline: none;
  border: 2px solid #3ba0ff;
}

.main-inputs-2 input:focus {
  outline: none;
  border: 2px solid #3ba0ff;
}

.main-section-buttons {
  display: flex;
  justify-content: center;
}

.sign-up-section-buttons {
  display: flex;
  justify-content: center;
}

.auth-div {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-top: 80px;
  background-image: linear-gradient(
    180deg,
    rgba(30, 17, 86, 0.9),
    rgba(14, 8, 55, 0.9)
  );
  border-radius: 8px;
  box-shadow: #0e0837 0px 12px 24px;
}

.auth-div h2 {
  line-height: 42px;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: #fff;
}

.sign-up-button {
  padding: 0 24px;
  height: 42px;
  border-radius: 8px;
  font-size: 16px;
  background-image: linear-gradient(to right, #2f3453, #242845);
  color: #949ec0;
  border: none;
  margin-right: 15px;
  font-weight: 700;
}

.create-account-button {
  padding: 0 24px;
  height: 42px;
  border-radius: 8px;
  font-size: 16px;
  background-image: linear-gradient(to right, #2f3453, #242845);
  color: #949ec0;
  border: none;
  margin-right: 15px;
  font-weight: 700;
}

.hidden {
  display: none;
}

.Sign-in-button {
  padding: 0 24px;
  height: 42px;
  border-radius: 8px;
  font-size: 16px;
  background-image: linear-gradient(to right, #3887fe, #3ba0ff, #5fb2ff);
  color: #ffffff;
  border: none;
  margin-left: 15px;
  font-weight: 700;
}

.valuet-div h1 {
  line-height: 85px;
  font-size: 72px;
  font-weight: 800;
  background: -webkit-linear-gradient(#3887fe, #3ba0ff, #5fb2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 6px;
}

.valuet-div p {
  width: 100%;
  height: 29px;
  font-weight: 300;
  line-height: 28px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  color: #fff;
}
.underline-div {
  display: flex;
  justify-content: center;
}

.underline {
  height: 2px;
  background-color: #1288e8;
  width: 175px;
  margin-top: 6px;
}

#sign-in-error,
#sign-up-error {
  text-align: center;
  border: 1px solid rgb(243, 80, 80);
  border-radius: 6px;
  background-color: rgba(243, 80, 80, 0.1);
  color: rgba(243, 80, 80, 1);
  padding: 16px;
  margin-bottom: 24px;
}
